<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	    <meta charset="utf-8">
		<title>Online School - Student List</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/studentModifier.js"></script>
		

		<link rel="stylesheet" href="/boostrap/css/bootstrap.min.css">
		<script src="/boostrap/js/jQuery.js"></script>
		<script src="/boostrap/js/popper.js"></script>
		<script src="/boostrap/js/bootstrap.min.js"></script>
			
	    <link rel="stylesheet" href="/css/teacher/teacher.css">
	    <link rel="stylesheet" href="/css/teacher/studentList.css">
  	</head>

	<body>
		<div class="full_container">
			<div class="teacher_header_wraper">
				<div class="teacher_header container_center">
					<div class="teacher_logo">
						<a href="#"><img src="/images/logo.png" alt="Logo"/></a>
						<!-- <a href="#"><h2>Online School Portal</h2></a> -->
					</div>

					<div class="teacher_menu_icon">
						<ul>
							<li><a href="/teacher/cancel_course">&#x271A Cancel Course</a></li>
							<li><a href="/teacher/cancel_batch">&#x271A Cancel Batch</a></li>
							<li><a href="/teacher/upload_grade">&#x271A Upload Grade</a></li>
							<li><a href="/teacher/upload_document">&#x271A Upload Document</a></li>
							<li><a href="/logout/logout" style="font-size: 26px;padding-top: 3px;" title="Logout">&#x27A5</a></li>
						</ul>
					</div>
				</div>
			</div>


			<div class="content_wraper">
				<div class="content container_center">
					<div class="content_left">
						<div class="teacher_photo">
							<!--<img src="../../images/profiles/<?php echo $adminPhoto;?>" alt="Profile Photo" />-->
  							<!-- <img src="/images/team/bodrul.jpg" alt="Bodrul" /> -->
						</div>
						<div class="teacher_name">
							<p>Welcome, Bodrul Islam</P>
						</div>
						<div class="teacher_menu_section">
							<ul>
								<li><a href="/teacher/teacher"> My Account</a></li>
								<li><a href="/teacher/userList/student_list">&#x2756 Students List</a></li>
								<li><a href="/teacher/course_list">&#x2756 Course List</a></li>
								<li><a href="/teacher/batch_list">&#x2756 Batch List</a></li>
								<li><a href="/teacher/class_schedule">&#x2756 Class Schedule</a></li>
								<li><a href="/teacher/document_list">&#x2756 Document List</a></li>
								<li><a href="/teacher/financial_status">&#x2756 Financial Status</a></li>
								<li><a href="/teacher/teacher_profile">&#x2756 Profile</a></li>
								<li><a href="/teacher/message">&#x2709 Message</a></li>
								<li><a href="/teacher/change_password">&#x274B Change Password</a></li>
								<li><a href="/logout/logout">&#x27A5 Logout</a></li>
							</ul>
						</div>
					</div>

					<div class="content_right">
						<div class="studentList_wraper">
							<div class="studentList_table">
								<div class="student_list_title">
									<h3>Students List of Online School</h3>
								</div>

								
								<div id="dataShow">

								</div>
								<div class="table_area">
									<table class="student_table" >
										<thead >
											<tr>
												<th>Serial</th>
												<th>ID</th>
												<th>Name</th>
												<th>Email</th>
												<th>Department</th>
												<th>Phone</th>
												<th>Action</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr class="student_row">
												<% for( var i=0; i < userList.length; i++ ){ %>
													<tr class="student_row">
														<td> <%= userList[i].serial %> </td>
														<td> <%= userList[i].id %> </td>
														<td> <%= userList[i].name %> </td>
														<td> <%= userList[i].email %> </td>
														<td> <%= userList[i].department %> </td>
														<td> <%= userList[i].phone %> </td>
														<td><input type="button" name="edit" value="Edit" id="<%= userList[i].id %>" class="btn btn-primary btn-sm edit_data" /></td>
			                      <td><input type="button" name="view" value="View" id="<%= userList[i].id %>" class="btn btn-primary btn-sm view_data" /></td>
			                      		</tr>
												<% } %>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

			<div class="footer_wraper">
				<div class="footer container_center">
					<div class="footer_top">
					</div>
					<div class="footer_bottom">
						<p>Copyright 2018-19 &copy; onlineschool.com <br/> &reg All Right Reserved</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>



<!-- Modal for Edit -->
<div id="student_Modal" class="modal fade">
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Student Information</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <form method="post" id="update_form"><!-- update_form was insert_form -->

          <div class="form-group">
            <label for="">Student Id:</label>
            <input type="text" name="sid" id="id" class="form-control form-control-sm" readonly />
          </div>

          <div class="form-group">
            <label for="">Student Name:</label>
            <input type="text" name="sname" id="name" class="form-control form-control-sm" />
          </div>

          <div class="form-group">
            <label for="">Student Email:</label>
            <input type="text" name="semail" id="email" class="form-control form-control-sm" />
          </div>

          <!-- <div class="form-group">
            <label for="sel1">Gender:</label>
            <select class="form-control form-control-sm" id="gender" name="sgender">
              <option value="">Select One</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="others">Others</option>
            </select>
          </div> -->

          <button type="submit" class="btn btn-success data_update" name="update" id="update">Update</button>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>

  </div>
</div>


<!-- Modal For View -->
<div id="viewModal" class="modal fade">
	<div class="modal-dialog">
  
	  <div class="modal-content">
  
		<div class="modal-header">
		  <h4 class="modal-title">Student Details</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
  
		<div class="modal-body" id="student_detail">
		  <table class="table">
			<tr>
			  <td class="text-center">Id:</td>
			  <td id='sid'></td>
			</tr>
  
			<tr>
			  <td class="text-center">Name:</td>
			  <td id='sname'></td>
			</tr>
  
			<tr>
			  <td class="text-center">Email:</td>
			  <td id='semail'></td>
			</tr>
		  </table>
		</div>
  
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
  
	  </div>
  
	</div>
   </div>
  

   <!-- Code for Update Message Modal -->

 <div id="msgModal" class="modal fade">
	<div class="modal-dialog">
 
	  <div class="modal-content">
 
		<div class="modal-header msgHeader">
		  <h5 class="modal-title text-center">Message</h5>
		</div>
 
		<div class="modal-body" id="student_detail">
		  <h4 class="text-success text-center" id="msg"></h4>
		</div>
 
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
 
	  </div>
 
	</div>
   </div>
 
